        <body>	
			  <header id="header" id="home">
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.php"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="index.php">Home</a></li>
				          <li><a href="about.php">Tentang kami</a></li>
				          <li><a href="jasa.php">jasa</a></li>
				          <li><a href="testimoni.php">Testimoni</a></li>
				          <!-- <li class="menu-has-children"><a href="">Blog</a>
				            <ul>
				              <li><a href="blog-home.php">Blog Home</a></li>
				              <li><a href="blog-single.php">Blog Single</a></li>
				            </ul>
				          </li>						           -->
				          <li><a href="contact.php">Contact</a></li>
						  <li><a href="akun/dist/auth/login.php">Login</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
              </header><!-- #header -->